{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas
}
section {
    padding-top: 5rem;
}

.tengahin {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.body {
background: rgba(255, 255, 255, 0.1)
}
